<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{configuration param="lang"}}"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="{{configuration param="lang"}}"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="{{configuration param="lang"}}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{configuration param="lang"}}"> <!--<![endif]-->
<head>
  <!-- HTML Metas -->
  <meta charset="{{configuration param="charset"}}">
  {{metarobots}}
  <meta name="keywords" content="{{configuration param="meta_keywords"}}" />
  <meta name="description" content="{{configuration param="meta_description"}}" />
  <meta name="viewport" content="width=device-width" />

  <!-- Title of the page -->
  <title>{{configuration param="wakka_name"}} : {{currentpage}}</title>

  <!-- Favicons -->
  <link rel="icon" type="image/png" href="{{configuration param="theme_path"}}images/favicon.png" />

  {{linkstyle}}
  {{linkrss}}
</head>

<body {{parambody}}>
  <div id="yw-container">
    <nav id="yw-topnav" class="navbar navbar-default fixable" role="navigation">
      <div class="container">
          <button class="btn btn-default btn-menu"><span class="fa fa-bars"></span></button>
          <div class="navbar-header">
            <a class="navbar-brand" href="{{configuration param="base_url"}}{{configuration param="root_page"}}">
              {{include page="PageTitre" doubleclic="1"}}
            </a>
          </div> <!-- /.navbar-header -->
          {{include page="PageMenuHaut" class="yw-topnav topnavpage links-container" doubleclic="1" actif="1"}}
          {{include page="PageRapideHaut" class="yw-topnav-fast-access pull-right" doubleclic="1" actif="1"}}
        </div> <!-- /.container -->
    </nav><!-- /#yw-topnav -->

    <header id="yw-header">
      {{include page="PageHeader" class="yw-headerpage" doubleclic="1"}}
    </header><!-- /#yw-header -->

    <div id="yw-main" class="with-side-bar" role="main" {{doubleclic}}>
      <div class="side-bar left">
        {{include page="PageMenu" class="menupage" doubleclic="1" actif="1"}}
      </div>
      <div class="yw-main-content">
        {WIKINI_PAGE}
      </div>
    </div><!-- /#yw-main -->

    {{barreredaction}}

    <footer id="yw-footer">
      <div class="container">
        {{include page="PageFooter" class="footerpage" doubleclic="1"}}
      </div> <!-- /.container -->
    </footer><!-- /#yw-footer -->
  </div> <!-- /#yw-container -->

  {{linkjavascript}}
</body>
</html>
