@charset "UTF-8";
/* Styles for yeswiki's template
 * under GNU General Public License
 */
/*
 * Webfont
 */
/* nunito-regular - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local("Nunito Regular"), local("Nunito-Regular"), url("../../fonts/nunito-v11-latin-regular.woff2") format("woff2"), url("../../fonts/nunito-v11-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* nunito-600 - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  src: local("Nunito SemiBold"), local("Nunito-SemiBold"), url("../../fonts/nunito-v11-latin-600.woff2") format("woff2"), url("../../fonts/nunito-v11-latin-600.woff") format("woff");
  /* Modern Browsers */ }

/* nunito-800 - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  src: local("Nunito ExtraBold"), local("Nunito-ExtraBold"), url("../../fonts/nunito-v11-latin-800.woff2") format("woff2"), url("../../fonts/nunito-v11-latin-800.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/*
* Main styles
*/
html, body {
  /* define also html so we can use rem */
  background: var(--main-bg-color);
  background-image: none !important;
  color: var(--main-text-color);
  font-size: var(--main-text-fontsize);
  font-family: var(--main-text-fontfamily);
  line-height: 1.6;
  overflow-x: hidden;
  padding: 0 !important; }

/* Titles */
h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
  margin-bottom: .5em;
  margin-top: .5em;
  font-weight: 800; }

h1 {
  color: var(--main-text-color);
  font-size: 3.2rem;
  letter-spacing: -.5px;
  margin-top: 0;
  text-align: center; }

h2 {
  color: var(--primary-color); }

h1 > u, h2 > u {
  border-bottom: 6px solid var(--primary-color);
  padding-bottom: .2rem;
  text-decoration: none; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1.2rem; }

h5 {
  font-size: 1.2rem; }

h6 {
  font-size: 1rem; }

br + h1, br + h2 {
  margin-top: .2em; }

@media (max-width: 1200px) {
  h1 {
    font-size: 2rem; }
  h2 {
    font-size: 1.4rem; }
  h3 {
    font-size: 1.2rem; }
  h4, h5, h6 {
    color: var(--neutral-color); } }

/* Links */
a {
  color: var(--link-color);
  text-decoration: none;
  font-weight: 600; }

a:focus, a:hover {
  color: var(--link-hover-color);
  text-decoration: underline; }

a.yeswiki-editable .icon-edit {
  font-size: .8rem;
  margin-left: 2px; }

pre {
  color: inherit; }

img {
  border-radius: 3px; }

ul {
  padding-left: 2rem; }

.del, .ace-body .ace_stroke {
  color: var(--secondary-color-2); }

.label {
  padding: .2em .5em 1px .5em !important; }

.background-image {
  padding: 1rem 0; }

/* Menu horizontal principal */
#yw-topnav {
  margin-top: 30px;
  -webkit-border-radius: var(--navbar-border-radius);
  border-radius: var(--navbar-border-radius);
  border: var(--navbar-border);
  transition: top 0.3s ease-in-out;
  padding: .5rem 0;
  z-index: 1001 !important;
  display: flex; }

#yw-topnav .container {
  width: 100%;
  padding: 0 .9rem;
  display: flex;
  align-items: center; }

#yw-topnav .links-container {
  flex: 1;
  display: flex;
  justify-content: center; }

#yw-topnav .container .navbar-nav {
  flex: 1 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

@media (min-width: 801px) {
  #yw-topnav .links-container {
    display: flex !important; } }

@media (max-width: 800px) {
  #yw-topnav {
    padding: 0; }
  #yw-topnav .links-container {
    display: none;
    position: absolute;
    left: 0;
    top: calc(100% + 1rem);
    right: 0;
    z-index: 1000; }
  #yw-topnav .links-container .nav {
    flex-direction: column;
    background-color: var(--primary-color);
    border-radius: .3em;
    margin: 0 1rem;
    padding: .8rem 1.5rem; }
  #yw-topnav .links-container .nav li:before {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1rem;
    height: 1px;
    background-color: var(--neutral-light-color); }
  #yw-topnav .links-container .nav a {
    line-height: 2.5rem;
    display: inline;
    background-color: var(--primary-color) !important; }
  #yw-topnav .navbar-header {
    flex: 1;
    text-align: center; }
  #yw-topnav .navbar-header .navbar-brand {
    width: 100%; } }

.menu-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990; }

#yw-topnav .dropdown-menu {
  background: var(--primary-color);
  box-shadow: none;
  border: none;
  margin-top: 15px;
  border-radius: 0 0 5px 5px; }

@media (min-width: 800px) {
  #yw-topnav .dropdown-menu {
    font-size: .9rem; }
  #yw-topnav .btn-menu {
    display: none; } }

#yw-topnav .dropdown-menu a {
  padding: 2px 20px 6px 15px;
  color: var(--neutral-light-color);
  font-weight: 600; }

#yw-topnav li a {
  padding: .5rem 1.4rem; }

@media (max-width: 1200px) {
  #yw-topnav li a {
    padding: .3rem .8rem; } }

#yw-topnav li a:hover {
  opacity: .8; }

#yw-topnav .dropdown-menu a i {
  width: 20px;
  text-align: center; }

#yw-topnav .dropdown-menu .divider {
  margin: 4px 0 10px 0;
  opacity: .3;
  background-color: var(--neutral-light-color); }

#yw-topnav .dropdown-menu a:hover, #yw-topnav .dropdown-menu a:focus {
  background: var(--primary-color);
  /*color:rgba(255,255,255,0.85);*/
  opacity: .8; }

#yw-topnav .btn-default, #yw-topnav .btn-default:hover, #yw-topnav .btn-default:focus {
  background: transparent;
  border: none;
  color: var(--neutral-light-color) !important; }

#yw-topnav .btn.btn-default.dropdown-toggle:hover {
  color: var(--primary-color) !important; }

@media (min-width: 800px) {
  #yw-topnav .btn-default, #yw-topnav .btn-default:hover, #yw-topnav .btn-default:focus {
    background: var(--neutral-light-color);
    border: 1px solid var(--neutral-light-color);
    color: var(--primary-color) !important; } }

#yw-topnav .active-link {
  font-weight: bold; }

#yw-topnav .btn {
  font-weight: normal;
  margin-left: 5px; }

#yw-topnav .btn-default .fa {
  font-size: 1rem;
  vertical-align: middle;
  /* Reduce padding with negative margin */
  margin-left: -6px;
  margin-right: -6px;
  margin-top: -2px; }

@media (max-width: 800px) {
  #yw-topnav .btn-default .fa {
    font-size: 1.5rem !important; } }

@media (max-width: 1200px) {
  #yw-topnav .btn-default .fa {
    margin-top: 0; } }

#yw-topnav .btn-default .fa-cog {
  font-size: 1.3rem; }

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  height: 100px;
  width: 211px; }

.navbar-brand img {
  max-height: 8.9rem;
  width: auto;
  margin-left: .9rem;
  margin-top: -.9rem; }

.yw-fixed #yw-topnav, .yw-responsive #yw-topnav {
  margin: 0 -15px 15px;
  /*marge negative pour compenser le conteneur principal*/ }

/* le menu devient fixe quand on scrolle plus bas dans la page */
#yw-topnav.fixable.nav-up, .yw-responsive #yw-topnav.fixable.nav-up {
  top: -80px; }

/* on decalle le contenu vers le bas pour eviter un saut */
#yw-topnav:not(.affix) + #yw-header {
  margin-top: 0 !important; }

/* Couleur navbar */
.navbar-default {
  background-color: #fff;
  border-color: transparent;
  color: var(--navbar-text-color);
  box-shadow: var(--navbar-shadow); }

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
  color: var(--neutral-color) !important;
  background-color: var(--navbar-link-bg-color) !important; }

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a:hover {
  color: var(--navbar-link-hover-color-color) !important;
  background-color: var(--navbar-link-bg-hover-color) !important; }

/* SEARCH */
#search .btn.close-search {
  background-color: transparent;
  border: none;
  color: var(--neutral-light-color) !important;
  font-size: 5rem;
  top: -1.4rem;
  padding: 0 2rem; }

#search .yeswiki-search-form .btn-search, #search .yeswiki-search-form .search-query {
  height: 4rem !important;
  margin: 0;
  border: none; }

#search .yeswiki-search-form .btn-search[type=submit] {
  padding: 0 1.8rem;
  background-color: var(--primary-color) !important;
  color: var(--neutral-light-color) !important;
  border-radius: 0 5px 5px 0; }

#search .yeswiki-search-form .btn-search i {
  font-size: 1.8rem; }

@media (max-width: 800px) {
  #search .yeswiki-search-form {
    margin-left: 1.9rem !important; }
  #search .btn.close-search {
    padding-right: .9rem; } }

#LoginModal .login-form-modal {
  margin-top: -20px; }

.login-form {
  margin: 0 auto;
  max-width: 500px; }

.login-form-dropdown {
  font-size: 1rem; }

.login-form-inline [type=submit] {
  margin-left: .5rem; }

#LoginModal .modal-dialog {
  max-width: 600px; }

#LoginModal input[name=login], .login-form [type=submit], .login-form-dropdown [type=submit] {
  margin-top: 1rem; }

/* Bandeau d'entete */
#yw-header {
  background-color: var(--header-bg-color);
  color: var(--header-text-color); }

#yw-header h1, #yw-header h2, #yw-header h3, #yw-header h4, #yw-header h5, #yw-header h6 {
  color: var(--header-title-color); }

#yw-header .white {
  color: var(--neutral-light-color) !important; }

#yw-header .white h1, #yw-header .white h2, #yw-header .white h3, #yw-header .white h4, #yw-header .white h5, #yw-header .white h6, #yw-header .white a, #yw-header .white a:hover {
  color: var(--neutral-light-color) !important; }

#yw-header .background-image {
  background-position: center;
  background-size: cover; }

/* Partie centrale de la page Wiki */
#yw-main {
  padding: 1rem;
  position: relative;
  min-height: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center; }

@media (min-width: 992px) {
  #yw-main {
    padding: 1.5rem; } }

@media (min-width: 1200px) {
  #yw-main {
    padding: 1.5rem 2rem; } }

#yw-main .side-bar {
  width: 15rem; }

#yw-main .side-bar.left {
  margin-right: 2rem; }

#yw-main .side-bar.right {
  margin-left: 2rem; }

@media (max-width: 800px) {
  #yw-main {
    flex-direction: column; }
  .page, .menupage, .rightcolumnpage {
    min-height: 0; }
  #yw-main .side-bar {
    width: 100%;
    height: auto;
    margin: 0 !important; } }

#yw-main .yw-main-content, section.full-width .container {
  width: 100%;
  flex: 1 auto;
  padding: 0;
  max-width: 1100px;
  border-radius: none; }

@media (max-width: 1200px) {
  section.full-width .container {
    padding: 0 1.5rem; } }

@media (max-width: 800px) {
  section.full-width .container {
    padding: 0 1rem; } }

/*
#yw-footer {
  .form-group.input, .form-control {
    background-color: var(--neutral-soft-color);
    border:none;
    color:var(--neutral-light-color);

    &::placeholder {
      color:var(--neutral-color);
    }

    .input-group-addon {
      background-color: transparent;
      color:var(--neutral-color);
    }
  }
}
*/
.footer {
  font-size: .8em;
  margin: 2em 0 1em 0;
  padding: 0;
  text-align: center;
  border-bottom: var(--footer-border);
  position: relative; }

.footer a {
  color: var(--neutral-soft-color);
  padding: .3em .6em;
  text-decoration: none;
  display: inline-block;
  margin: 0;
  font-weight: 800; }

.footer::after {
  content: "";
  background-color: var(--neutral-soft-color);
  position: absolute;
  left: 1rem;
  right: 1rem;
  bottom: -1rem;
  height: .5rem;
  border-radius: .5rem; }

.footer a:hover {
  text-decoration: none;
  color: var(--neutral-color);
  transition: color .2s; }

.footer a i {
  color: var(--primary-color);
  font-size: 1.2em;
  margin-right: 6px;
  opacity: .7;
  transition: opacity .2s; }

.footer a:hover i {
  opacity: 1; }

/* Pied de page */
#yw-footer {
  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);
  padding: 30px 0; }

#yw-footer h1, #yw-footer h2, #yw-footer h3, #yw-footer h4, #yw-footer h5, #yw-footer h6 {
  color: var(--footer-title-color); }

#yw-footer .form-control {
  border-color: var(--neutral-light-color); }

#yw-footer a {
  color: var(--footer-text-color); }
  #yw-footer a .fa {
    margin-right: .5rem; }

#yw-footer h4 {
  text-transform: uppercase; }

#yw-footer .form-group.input.email {
  margin-top: 0; }
  #yw-footer .form-group.input.email .input-group {
    flex-direction: column; }
    #yw-footer .form-group.input.email .input-group .input-group-addon {
      display: none; }
    #yw-footer .form-group.input.email .input-group .form-control {
      background-color: var(--footer-bg-color);
      color: var(--footer-text-color); }
      #yw-footer .form-group.input.email .input-group .form-control::placeholder {
        color: var(--neutral-light-color); }
    #yw-footer .form-group.input.email .input-group .input-group-btn > .btn {
      background-color: var(--footer-bg-color);
      border-color: var(--footer-text-color) !important;
      border-radius: 0;
      border-left: 2px solid;
      color: var(--neutral-light-color);
      margin-top: .2rem; }

@media (max-width: 800px) {
  .footer {
    display: flex;
    justify-content: space-around; }
  .footer a > span {
    display: none; }
  .footer a i {
    font-size: 1.1rem; }
  .footer::after {
    left: 0;
    right: 0;
    border-radius: 0; } }

/* Archipel Navigation */
#archipel {
  background: #5a696b;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }

#archipel .archipel__islands > span {
  display: none; }

.btn-toolbar {
  transition: top 0.3s ease-in-out;
  margin-left: 0; }

.btn-toolbar > .btn-group {
  margin: 0;
  padding-left: 2px; }

.btn-toolbar > .btn-group:first-child {
  padding-left: 0; }

.btn-toolbar > .btn-group:not(:first-child):not(:nth-chld(2))::before {
  content: ".";
  width: 2px;
  bottom: 0;
  left: 0;
  position: absolute;
  height: 1.5rem;
  color: #eee;
  background: #eee; }

#ACEditor .btn-toolbar {
  border-bottom: 2px solid var(--primary-color); }

.ace-editor-container {
  border: 2px solid var(--primary-color);
  border-radius: 3px 3px; }

#ACEditor .ace-editor-container {
  border-top: none;
  border-radius: 0 0 3px 3px; }

/* no need to chose background because there is no background for margot theme*/
#form_graphical_options #bgCarousel, #form_graphical_options h3 {
  display: none; }

.btn-toolbar .aceditor-btn-save {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.btn-toolbar .btn {
  border-radius: 4px 4px 0 0; }

#ACEditor .btn:not(.qq-upload-button) i {
  margin: 0; }

#hashcash-text {
  line-height: 2rem;
  font-size: .9em;
  font-style: italic; }

.btn-toolbar .dropdown-menu h1, .btn-toolbar .dropdown-menu h2, .btn-toolbar .dropdown-menu h3,
.btn-toolbar .dropdown-menu h4, .btn-toolbar .dropdown-menu h5, .btn-toolbar .dropdown-menu .lead,
.btn-toolbar .dropdown-menu .well, .btn-toolbar .dropdown-menu pre {
  margin: 0; }

.btn-toolbar .dropdown-menu li a {
  padding: 5px 1em;
  min-height: 25px;
  cursor: pointer; }

#YesWikiHelpModal .page h4,
[ondblclick$="?ReglesDeFormatage/edit';"] .page h4 {
  color: var(--neutral-color); }

#YesWikiHelpModal .page .col-md-6 > h2,
[ondblclick$="?ReglesDeFormatage/edit';"] .page .col-md-6 > h2 {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #eee; }

#YesWikiHelpModal .page .btn-primary,
[ondblclick$="?ReglesDeFormatage/edit';"] .page .btn-primary {
  border-radius: 4px;
  padding: 2px 1em;
  font-size: .8em;
  margin-bottom: .5rem; }

/* input for tags  */
#ACEditor .bootstrap-tagsinput {
  font-size: var(--main-text-fontsize);
  color: var(--main-text-color);
  border: 2px solid var(--primary-color);
  border-radius: 3px; }

#ACEditor .bootstrap-tagsinput.focus {
  border-color: var(--primary-color);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px var(--primary-color);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px var(--primary-color); }

@media (max-width: 800px) {
  .btn-toolbar .btn {
    border-radius: 4px; } }

#accordion-avanced-page-settings {
  margin-top: 20px; }

.nav-up ~ #yw-main #ACEditor .btn-toolbar {
  top: 0; }

.nav-down ~ #yw-main #ACEditor .btn-toolbar {
  top: 69px; }

/* this rule is overide by javascript to fit the navbar height */
pre.precsv {
  height: 140px;
  white-space: pre;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 15px; }

#btn-import-forms, #btn-import-lists {
  height: 2.7rem;
  padding: 0 14px;
  border: none;
  margin-left: -5px; }

.bazar-table {
  table-layout: auto !important;
  /* better for responsivness */ }

/* display fiche */
.BAZ_fiche_titre {
  display: flex;
  align-items: center;
  font-size: 2.5rem; }

.BAZ_fiche_titre:after {
  background-color: var(--primary-color);
  content: "";
  flex: 1;
  height: 12px;
  border-radius: 12px;
  margin-left: 2rem; }

.BAZ_label {
  color: var(--primary-color);
  margin: 5px 0;
  font-size: 1.2rem;
  font-weight: 600 !important; }

.BAZ_cadre_fiche [data-id=bf_image] {
  float: right;
  padding: 0 0 20px 20px;
  max-width: 40%; }

.BAZ_cadre_fiche [data-id=bf_image] img {
  width: 100%; }

.form-builder-label {
  display: none; }

#form-builder-container {
  height: auto !important;
  padding: 0 0 1px 0 !important; }

#form-builder-container .form-wrap.form-builder .frmb-control li {
  border-radius: 0;
  border-right: none; }

#form-builder-container .form-wrap.form-builder .frmb li {
  background-color: transparent;
  border-radius: 0;
  transition: background-color .3s; }

#form-builder-container .form-wrap.form-builder .frmb {
  margin: 0; }

#form-builder-container .form-elements .form-group label {
  padding-top: 6px;
  font-size: .9rem; }

#form-builder-container .form-elements .form-group.required-wrap label {
  padding-top: 3px; }

#form-builder-container .form-group {
  margin-top: 5px;
  margin-bottom: 5px; }

#form-builder-container .form-control {
  background-color: white;
  border: 1px solid #ccc; }

#form-builder-container .form-wrap.form-builder .frmb > li:hover {
  background-color: var(--neutral-light-color);
  border: none;
  box-shadow: none; }

/* Remove checkbox style inside form-builder*/
#form-builder-container [type="checkbox"]:not(:checked),
#form-builder-container [type="checkbox"]:checked {
  position: relative;
  opacity: 1;
  pointer-events: initial; }

.export-links {
  margin-top: 40px;
  margin-top: 20px; }

/* LISTES */
ul.list-sortables {
  margin-bottom: 1.5rem !important; }

.suppression_label_liste {
  background-color: var(--danger-color) !important;
  opacity: .8; }

.list-sortables .liste_ligne {
  display: flex !important; }

.list-sortables .liste_ligne .input-label {
  flex: 2 !important; }

.handle-listitems {
  background-color: var(--neutral-color) !important; }

.handle-listitems + input {
  border-left: none !important; }

.btn.ajout_label_liste {
  background-color: var(--neutral-light-color);
  color: var(--primary-color);
  border: 2px solid var(--primary-color); }

.BAZ_cadre_fiche .BAZ_fiche_info {
  font-size: .85rem;
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid #eee;
  padding-top: 1rem;
  margin-top: 1rem;
  border-radius: 0;
  opacity: .8;
  background-color: transparent; }

.modal .BAZ_fiche_info {
  padding-bottom: 0; }

.BAZ_actions_fiche {
  padding-top: .4rem; }

.type-modif-container {
  margin-bottom: 1rem; }

.type-modif-container label {
  display: block;
  font-weight: normal; }

.edit-acl-container {
  margin-bottom: 1.5rem; }

.edit-acl-container .switch {
  margin-bottom: .5rem; }

td > label {
  line-height: 0;
  vertical-align: middle;
  padding-left: .5rem;
  margin: 0;
  width: 1.2rem; }

input[name=theme_modifier], input[name=geredroits_modifier] {
  width: 100%;
  display: block; }

.btn-edit-group, .btn-create-group {
  margin-left: 10px; }

label.edit-group strong {
  text-transform: uppercase;
  color: var(--primary-color); }

.table-condensed.table-updates tr > td:first-child,
.table-condensed.table-updates tr > th:first-child {
  padding-left: 1rem; }

.table-condensed.table-updates tr > td:last-child {
  text-align: center; }

@media (max-width: 1200px) {
  td > label {
    padding-left: .2rem; } }

#accordion_update .panel {
  margin-bottom: 1rem; }

#accordion_update .dataTables_header {
  margin: .5rem -.3rem 0  0; }

#accordion_update .dataTables_footer {
  margin: 0 0 .5rem 0; }

table .check-all-container {
  position: absolute;
  top: 8px;
  left: 15px; }

.btn {
  border: var(--btn-border);
  border-radius: var(--btn-border-radius);
  font-size: var(--main-text-fontsize);
  color: var(--neutral-light-color);
  padding: .5rem 1rem;
  font-weight: 600;
  transition: all .2s; }

.btn:hover {
  opacity: .9;
  color: var(--neutral-light-color); }

.btn, .btn:hover, .btn:focus, .btn:active, .btn.active {
  box-shadow: none !important; }

.btn.disabled, .btn[disabled] {
  opacity: .4; }

.btn-link {
  color: var(--primary-color); }

.btn:not(.btn-icon) i {
  margin-right: 8px; }

.btn-link:hover, .btn-link:focus {
  color: var(--primary-color);
  text-decoration: underline; }

.btn-default, .btn-default:hover, .btn-default:active, .btn-default:focus, .btn-default:active:focus,
.open > .dropdown-toggle.btn-default, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover {
  background: var(--primary-color);
  color: var(--neutral-light-color); }

.btn-default:hover, .btn-default:active, .btn-default:focus, .btn-default:active:focus {
  background: var(--primary-color); }

.btn.btn-default.dropdown-toggle:hover {
  background: #eee !important;
  color: var(--neutral-color) !important; }

.btn-neutral, .btn-neutral:hover, .btn-neutral:active, .btn-neutral:focus, .btn-neutral:active:focus {
  background-color: var(--neutral-color); }

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:active:focus {
  background-color: var(--secondary-color-1);
  border-color: var(--secondary-color-1) !important;
  border-radius: 0;
  color: var(--neutral-color); }

.btn-info, .btn-info:hover, .btn-info:active, .btn-info:focus, .btn-info:active:focus {
  background: var(--primary-color);
  opacity: .6;
  text-transform: uppercase; }

.btn-info:hover {
  opacity: .7; }

.btn-secondary-1, .btn-secondary-1:hover, .btn-secondary-1:active, .btn-secondary-1:focus, .btn-secondary-1:active:focus {
  background: var(--secondary-color-1); }

.btn-warning, .btn-warning:hover, .btn-warning:active, .btn-warning:focus, .btn-warning:active:focus {
  background: var(--warning-color); }

.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:focus, .btn-danger:active:focus {
  background: var(--danger-color); }

.btn-secondary-2, .btn-secondary-2:hover, .btn-secondary-2:active, .btn-secondary-2:focus, .btn-secondary-2:active:focus {
  background: var(--secondary-color-2); }

.alert .btn {
  background-color: var(--neutral-light-color); }

.alert .btn-neutral {
  color: var(--neutral-color); }

.alert .btn-primary {
  color: var(--primary-color); }

.alert .btn-info {
  color: var(--primary-color);
  opacity: .5; }

.alert .btn-secondary-1 {
  color: var(--secondary-color-1); }

.alert .btn-warning {
  color: var(--warning-color); }

.alert .btn-danger {
  color: var(--danger-color); }

.alert .btn-secondary-2 {
  color: var(--secondary-color-2); }

.btn-xs {
  padding: 2px 8px !important;
  border-radius: .3em; }

.btn.btn-xs i {
  margin-right: 0; }

.btn-xs.btn-danger {
  background-color: transparent !important;
  color: var(--danger-color); }

.btn-xs.btn-danger:hover {
  background: #eee !important; }

/* Ripple effect */
.btn, .ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0); }

.btn:after, .ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .5s, opacity 1s; }

.btn:active:after, .ripple:active:after {
  transform: scale(0, 0);
  opacity: .2;
  transition: 0s; }

.caret {
  margin-left: 5px;
  opacity: .9;
  border-radius: 2px; }

.btn.btn-dark {
  background-color: var(--neutral-color); }

/* Composants */
.well {
  border: 3px solid var(--secondary-color-2);
  background: var(--neutral-light-color); }

.label {
  padding: .2em .5em;
  vertical-align: middle; }

.label-default {
  background-color: var(--neutral-color); }

.label-primary {
  background-color: var(--primary-color); }

.label-info {
  background-color: var(--primary-color);
  opacity: .6; }

.label-success {
  background-color: var(--success-color); }

.label-warning {
  background-color: var(--warning-color); }

.label-danger {
  background-color: var(--danger-color); }

.label-secondary-1 {
  background-color: var(--secondary-color-1); }

.label-secondary-2 {
  background-color: var(--secondary-color-2); }

.alert-default, .alert-info {
  border: none;
  position: relative;
  background-color: transparent !important;
  color: var(--neutral-color) !important; }

.alert-default:before, .alert-info:before {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: .3rem;
  opacity: .3; }

.alert-default:before {
  background-color: var(--neutral-color); }

.alert-info:before {
  background-color: var(--primary-color); }

.alert-primary, .alert-success, .alert-warning, .alert-danger, .alert-secondary-1, .alert-secondary-2 {
  border: none;
  border-radius: .3rem;
  color: var(--neutral-light-color); }

.alert-primary {
  background-color: var(--primary-color); }

.alert-success {
  background-color: var(--success-color); }

.alert-danger {
  background-color: var(--danger-color); }

.alert-warning {
  background-color: var(--warning-color); }

.alert-secondary-1 {
  background-color: var(--secondary-color-1); }

.alert-secondary-2 {
  background-color: var(--secondary-color-2); }

/* PANELS */
.panel {
  border-width: 3px;
  border-radius: 5px; }

.panel-heading {
  border-radius: 0;
  padding: .6rem 1rem; }

.panel-default {
  border-color: var(--neutral-color);
  --checkbox-color: var(--neutral-color); }

.panel-default:not(.note-editor) > .panel-heading {
  color: var(--neutral-light-color);
  background-color: var(--neutral-color);
  border-color: var(--neutral-color); }

.panel-title > .alert-msg {
  margin-right: 2rem;
  font-size: .9rem;
  margin-top: 1px; }

.panel-primary {
  border-color: var(--primary-color);
  --checkbox-color: var(--primary-color); }

.panel-primary > .panel-heading {
  color: var(--neutral-light-color);
  background-color: var(--primary-color);
  border-color: var(--primary-color); }

.panel-secondary-1 {
  border-color: var(--secondary-color-1);
  --checkbox-color: var(--secondary-color-1); }

.panel-secondary-1 > .panel-heading {
  color: var(--neutral-light-color);
  background-color: var(--secondary-color-1);
  border-color: var(--secondary-color-1); }

.panel-secondary-2 {
  border-color: var(--secondary-color-2);
  --checkbox-color: var(--secondary-color-2); }

.panel-secondary-2 > .panel-heading {
  color: var(--neutral-light-color);
  background-color: var(--secondary-color-2);
  border-color: var(--secondary-color-2); }

.panel-info {
  border-color: var(--primary-color);
  --checkbox-color: var(--primary-color); }

.panel-info > .panel-heading {
  color: var(--neutral-light-color);
  background-color: var(--primary-color);
  opacity: .6;
  border-color: var(--primary-color); }

.panel-warning {
  border-color: var(--warning-color);
  --checkbox-color: var(--warning-color); }

.panel-warning > .panel-heading {
  color: var(--neutral-light-color);
  background-color: var(--warning-color);
  border-color: var(--warning-color); }

.panel-success {
  border-color: var(--success-color);
  --checkbox-color: var(--success-color); }

.panel-success > .panel-heading {
  color: var(--neutral-light-color);
  background-color: var(--success-color);
  border-color: var(--success-color); }

.panel-danger {
  border-color: var(--danger-color);
  --checkbox-color: var(--danger-color); }

.panel-danger > .panel-heading {
  color: var(--neutral-light-color);
  background-color: var(--danger-color);
  border-color: var(--danger-color); }

.panel-heading[data-toggle=collapse] {
  --chevron-color: var(--neutral-light-color);
  position: relative; }

.panel-heading[data-toggle=collapse]:after {
  content: "";
  position: absolute;
  top: 1.1em;
  right: 1em;
  opacity: .8;
  width: .7rem;
  height: .7rem;
  border-top: 0.17rem solid var(--chevron-color);
  border-left: 0.17rem solid var(--chevron-color);
  border-right: .17rem solid transparent;
  border-bottom: .17rem solid transparent;
  -webkit-transform: rotate(35deg);
  transform: rotate(45deg); }

.panel-heading.collapsed[data-toggle=collapse]:after {
  top: .8em;
  border-top: .17rem solid transparent;
  border-left: .17rem solid transparent;
  border-right: 0.17rem solid var(--chevron-color);
  border-bottom: 0.17rem solid var(--chevron-color); }

.panel-heading[data-toggle=collapse]:hover:after {
  opacity: 1; }

.panel-heading .panel-title {
  font-size: var(--main-text-fontsize);
  line-height: inherit; }

/* NAV */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover,
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  color: var(--neutral-light-color);
  background-color: var(--primary-color); }

.nav-tabs > li > a i {
  margin-right: 8px; }

/* background color classes*/
.bg-primary {
  color: var(--neutral-light-color);
  background-color: var(--primary-color); }

.bg-primary h1, .bg-primary h2, .bg-primary h3,
.bg-primary h4, .bg-primary h5, .bg-primary h6 {
  color: inherit; }

.bg-secondary-1 {
  color: var(--neutral-light-color);
  background-color: var(--secondary-color-1); }

.bg-secondary-1 h1, .bg-secondary-1 h2, .bg-secondary-1 h3,
.bg-secondary-1 h4, .bg-secondary-1 h5, .bg-secondary-1 h6 {
  color: inherit; }

.bg-secondary-2 {
  color: var(--neutral-light-color);
  background-color: var(--secondary-color-2); }

.bg-secondary-2 h1, .bg-secondary-2 h2, .bg-secondary-2 h3,
.bg-secondary-2 h4, .bg-secondary-2 h5, .bg-secondary-2 h6 {
  color: inherit; }

.text-default {
  color: var(--neutral-color); }

.text-white {
  color: var(--neutral-light-color); }

.text-soft {
  color: var(--neutral-soft-color); }

.text-primary {
  color: var(--primary-color); }

.text-secondary-1 {
  color: var(--secondary-color-1); }

.text-secondary-2 {
  color: var(--secondary-color-2); }

.text-success {
  color: var(--success-color); }

.text-warning {
  color: var(--warning-color); }

.text-danger {
  color: var(--danger-color); }

.text-info {
  color: var(--primary-color);
  opacity: .6; }

/* LIST GROUP */
.list-group-item > .label {
  padding: .5em .8em; }

.modal-content {
  box-shadow: none;
  border: none;
  border-radius: .8rem; }

.modal-header {
  border: none;
  padding: .9rem 2rem;
  display: flex;
  align-items: center; }

.modal-body {
  padding: 0 2rem 1.5rem 2rem; }

.modal-footer {
  text-align: center;
  border: none;
  padding: 0 2rem 1.5rem 2rem;
  margin-top: -1.3rem; }

.modal-header .close {
  margin-top: 0;
  order: 10;
  right: 0;
  flex: 1 auto;
  text-align: right;
  margin-right: -10px; }

.close {
  color: var(--neutral-color);
  font-size: 1.5rem;
  padding: 10px !important;
  /* so it's easier to click on mobile */
  margin-right: -10px; }

.modal-backdrop {
  background-color: var(--neutral-color);
  transition: opacity .5s; }

@media (min-width: 768px) {
  .modal-dialog {
    width: 800px; } }

@media (min-width: 768px) {
  .modal-dialog.modal-lg {
    width: calc(100% - 50px); } }

@media (min-width: 992px) {
  .modal-dialog.modal-lg {
    width: calc(100% - 100px);
    max-width: 1400px; } }

.modal .separator {
  background-color: var(--primary-color);
  height: 8px;
  border-radius: 8px;
  margin-bottom: 1rem;
  margin-top: -1rem; }

.control-label:after {
  content: "";
  margin-right: 0; }

.symbole_obligatoire:after {
  margin-left: .25em; }

.form-horizontal {
  margin: 10px 0; }

.form-control, #form-builder-container {
  height: 2.7rem;
  padding: .5em 1em .4em 1em;
  font-size: var(--main-text-fontsize);
  color: var(--main-text-color);
  border: 2px solid var(--primary-color);
  border-radius: 3px !important;
  background-color: #f9f9f9; }

.ace-editor-container, .ace-body {
  background-color: #f9f9f9; }

.note-editor.note-frame .note-editing-area .note-editable {
  color: var(--main-text-color) !important;
  padding: 1rem !important; }

.note-editor .panel-heading.note-toolbar {
  background-color: #f9f9f9; }

.note-editor .panel-heading.note-toolbar .btn i {
  margin: 0; }

.control-group .controls {
  margin-left: 0 !important; }

textarea.form-control {
  padding: 15px; }

.form-group {
  position: relative;
  margin-top: 25px; }

.form-group:first-child {
  margin-top: 30px; }

.form-group .controls.col-sm-9 {
  width: 100%; }

.form-group .control-label {
  text-align: left;
  color: var(--primary-color);
  width: auto !important;
  font-weight: 600;
  padding-left: 15px;
  font-size: .8em; }

.form-group:not(.file) .control-label {
  height: 1.3rem; }

.form-group.textarea.wiki-textarea {
  margin-top: -10px; }

.form-group:not(.file):not(.checkbox) .control-label,
.form-group.wrapper.checkbox .control-label {
  position: absolute;
  z-index: 5;
  left: 1.7rem;
  background-color: var(--neutral-light-color);
  padding: 0 4px 0 8px;
  top: -.8em; }

.form-group:not(.file):not(.checkbox) .title-label.control-label,
.form-group.wrapper.checkbox .title-label.control-label {
  position: relative;
  padding: 0;
  top: 0;
  left: auto;
  margin-left: 15px;
  background: none;
  padding-top: 0;
  margin-bottom: 1rem;
  font-size: 1rem; }

.form-group:not(.file):not(.checkbox) .control-label:not(.title-label)::before,
.form-group.wrapper.checkbox .control-label:not(.title-label)::before {
  content: "";
  background-color: #f9f9f9;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 9px;
  z-index: -1; }

/*.form-group.checkbox:not(.wrapper) .control-label {
  position: absolute;
  left: 1.7rem;
  font-size: .9em;
  bottom: 3px;
}*/
.form-group.date .control-label {
  left: 65px !important; }

.form-group.date .controls {
  display: flex; }

.form-group.date .select-time {
  margin-left: 1.5rem; }

.form-group.date .select-hour, .form-group.date .select-minutes {
  width: 80px !important; }

.form-group.date .select-allday, .form-group.date .select-minutes {
  border-left: none !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important; }

.form-group.date .bazar-date, .form-group.date .select-hour {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important; }

.datepicker table tr td.active {
  background-color: var(--primary-color) !important; }

.table-condensed > tbody > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > td,
.table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > thead > tr > th {
  padding: 2px 8px; }

.datepicker-dropdown {
  padding: 10px !important; }

.form-group.wiki-textarea .control-label {
  position: relative !important;
  top: 1.7rem !important;
  left: .2rem !important;
  margin-left: 10px; }

.form-group.wrapper .control-label {
  left: 0.75rem !important; }

.form-group.input.file .control-label {
  margin-bottom: 5px; }

.form-group.input.file {
  margin-top: -10px; }

.form-control.wrapper {
  height: auto;
  margin-left: 0px;
  padding-left: 0;
  padding-bottom: 10px;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem; }

select.input-sm {
  font-size: .9em;
  padding: 1px 5px; }

label .symbole_obligatoire {
  float: right; }

.controls .btn-toolbar {
  margin-top: 0; }

input.form-control[type=file] {
  padding-left: 0;
  padding-top: .5em;
  cursor: pointer;
  position: relative; }

input.form-control[type=file]::before {
  content: "Choisir un fichier";
  position: absolute;
  top: 0;
  font-size: .9em;
  cursor: pointer;
  width: 142px;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--neutral-light-color);
  line-height: 2.6rem; }

.input-group {
  display: flex !important; }

.input-group-addon {
  border-radius: 5px 0 0 5px;
  line-height: 2.7rem;
  height: 2.7rem;
  padding: 0 14px;
  width: auto;
  background-color: var(--primary-color);
  color: var(--neutral-light-color);
  border: none; }

a.input-group-addon:hover {
  color: var(--neutral-light-color);
  opacity: .9; }

.form-control + .input-group-addon, input + .input-group-addon {
  border-radius: 0 5px 5px 0; }

.input-group-addon + .form-control, .input-group-addon + input {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important; }

.input-group-addon, .input-group-btn {
  width: auto; }

.input-prepend input {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important; }

.input-append input {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-right: none !important; }

.input-group.input-prepend.input-append input {
  flex: 1; }

.input-append .input-group-btn select {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  background-color: var(--primary-color);
  color: var(--neutral-light-color);
  line-height: 2.7rem;
  height: 2.7rem; }

input[type=file] ~ output {
  padding: 0;
  margin-top: 10px;
  border-radius: 5px;
  width: 200px; }

input[type=file] ~ output img {
  border-radius: 3px; }

form {
  position: relative; }

form.form-horizontal {
  margin-bottom: 1.5rem; }

form .col-sm-9 {
  width: 100%;
  margin: 0; }

.symbole_obligatoire.col-sm-9.col-sm-offset-3 {
  position: absolute;
  bottom: .7em;
  right: 0;
  width: auto;
  font-size: .9em; }

.bazar-checkbox-cols {
  column-width: 250px;
  -webkit-column-width: 250px;
  -moz-column-width: 250px;
  column-count: 50;
  -webkit-column-count: 50;
  -moz-column-count: 50; }

.form-help {
  cursor: help;
  margin-left: .3rem;
  margin-right: 3px; }

.input-group-addon:last-child, .input-group-btn:last-child > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 2.7rem;
  border: 2px solid var(--primary-color);
  border-left: none;
  padding-bottom: 8px; }

/* MAP */
#osmmapform {
  margin-top: 0 !important;
  border-radius: 0 5px 5px 5px;
  margin-bottom: 10px; }

.btn-geolocate-address {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.leaflet-container {
  font: inherit !important; }

.leaflet-control-zoom.leaflet-bar.leaflet-control {
  border: none;
  margin-top: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  background-color: var(--neutral-light-color); }

.leaflet-control-zoom.leaflet-bar.leaflet-control a {
  color: var(--primary-color);
  font-size: 18px !important;
  font-weight: normal;
  text-indent: 0; }

.leaflet-control-zoom-fullscreen.fullscreen-icon {
  background-image: none; }

.leaflet-control-zoom-fullscreen.fullscreen-icon:before {
  content: "⇱";
  font-weight: 600;
  color: var(--neutral-color); }

@media (max-width: 800px) {
  .textarea .btn-toolbar > .btn-group {
    display: none; }
  .form-group.wiki-textarea .control-label {
    top: .7rem; }
  input.form-control[type=file]::before {
    padding: 1px 1rem 0 .8rem; } }

@media (max-width: 1200px) {
  .form-group .control-label {
    font-size: .9em; } }

.form-group.summernote, .form-group.summernote .controls {
  padding: 0;
  margin-top: 0; }

.form-group.summernote .note-editor {
  margin-bottom: 0;
  border: none; }

.form-group.summernote .note-editable {
  padding: 1em; }

.form-horizontal .radio.inline-container,
.form-horizontal .checkbox.inline-container {
  padding-top: 0; }

.inline-container > label {
  margin-right: 1rem; }

.inline-container [type="radio"]:not(:checked) + span:not(.lever),
.inline-container [type="radio"]:checked + span:not(.lever) {
  margin-right: -5px; }

.checkbox label, .radio label {
  padding-left: 0; }

[type="radio"] + span:not(.lever) {
  font-weight: normal; }

/* Checkboxes
   ========================================================================== */
/* Remove default checkbox */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  opacity: 0;
  pointer-events: none; }

[type="checkbox"] + span:not(.lever) {
  position: relative;
  padding-left: 2rem;
  cursor: pointer;
  display: inline-block;
  height: 1.4rem;
  line-height: 1.4rem;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: font-weight .3s, color .3s; }

[type="checkbox"] + span:not(.lever):before,
[type="checkbox"] + span:not(.lever):after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1rem;
  height: 1rem;
  z-index: 0;
  border: 2px solid var(--checkbox-color);
  border-radius: 3px;
  opacity: .9;
  margin-top: 3px;
  -webkit-transition: .2s;
  transition: .2s;
  margin-top: 8px; }

table.dataTable [type="checkbox"] + span:not(.lever):before,
table.dataTable [type="checkbox"] + span:not(.lever):after {
  margin-top: 2px; }

[type="checkbox"]:not(:checked) + span:not(.lever):after {
  border: 0; }

[type="checkbox"]:not(:checked):disabled + span:not(.lever):before {
  border: none;
  background-color: rgba(0, 0, 0, 0.42); }

[type="checkbox"]:checked + span:not(.lever) {
  color: var(--checkbox-color); }

[type="checkbox"]:checked + span:not(.lever):before {
  top: -.25rem;
  left: -.15rem;
  width: .7rem;
  height: 1.2rem;
  opacity: 1;
  border-top: .17rem solid transparent;
  border-left: .17rem solid transparent;
  border-right: 0.17rem solid var(--checkbox-color);
  border-bottom: 0.17rem solid var(--checkbox-color);
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }

[type="checkbox"]:checked:disabled + span:not(.lever):before {
  border-right: 0.1rem solid rgba(0, 0, 0, 0.42);
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.42); }

/* Indeterminate checkbox */
[type="checkbox"]:indeterminate + span:not(.lever):before {
  top: -.65rem;
  left: -.7rem;
  width: .6rem;
  height: 1.3rem;
  border-top: none;
  border-left: none;
  border-right: 0.1rem solid var(--checkbox-color);
  border-bottom: none;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }

[type="checkbox"]:indeterminate:disabled + span:not(.lever):before {
  border-right: 0.1rem solid rgba(0, 0, 0, 0.42);
  background-color: transparent; }

@media (max-width: 800px) {
  [type="checkbox"]:checked + span:not(.lever):before {
    top: -.35rem; } }

/* Radio Buttons
   ========================================================================== */
[type="radio"]:not(:checked),
[type="radio"]:checked {
  position: absolute;
  opacity: 0;
  pointer-events: none; }

[type="radio"]:not(:checked) + span:not(.lever),
[type="radio"]:checked + span:not(.lever) {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 1rem;
  -webkit-transition: .28s ease;
  transition: .28s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

[type="radio"]:checked + span:not(.lever) {
  color: var(--checkbox-color); }

[type="radio"] + span:not(.lever):before,
[type="radio"] + span:not(.lever):after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px;
  width: 16px;
  height: 16px;
  margin-top: 10px;
  z-index: 0;
  -webkit-transition: .28s ease;
  transition: .28s ease; }

/* Unchecked styles */
[type="radio"]:not(:checked) + span:not(.lever):before,
[type="radio"]:not(:checked) + span:not(.lever):after,
[type="radio"]:checked + span:not(.lever):before,
[type="radio"]:checked + span:not(.lever):after,
[type="radio"].with-gap:checked + span:not(.lever):before,
[type="radio"].with-gap:checked + span:not(.lever):after {
  border-radius: 50%; }

[type="radio"]:not(:checked) + span:not(.lever):before,
[type="radio"]:not(:checked) + span:not(.lever):after {
  border: 2px solid var(--checkbox-color); }

[type="radio"]:not(:checked) + span:not(.lever):after {
  -webkit-transform: scale(0);
  transform: scale(0); }

/* Checked styles */
[type="radio"]:checked + span:not(.lever):before {
  border: 2px solid var(--checkbox-color); }

[type="radio"]:checked + span:not(.lever):after,
[type="radio"].with-gap:checked + span:not(.lever):before,
[type="radio"].with-gap:checked + span:not(.lever):after {
  border: 2px solid var(--checkbox-color); }

[type="radio"]:checked + span:not(.lever):after,
[type="radio"].with-gap:checked + span:not(.lever):after {
  background-color: var(--checkbox-color); }

[type="radio"]:checked + span:not(.lever):after {
  -webkit-transform: scale(0.5);
  transform: scale(0.5); }

/* Radio With gap */
[type="radio"].with-gap:checked + span:not(.lever):after {
  -webkit-transform: scale(0.5);
  transform: scale(0.5); }

/* Focused styles */
[type="radio"].tabbed:focus + span:not(.lever):before {
  -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1); }

/* Disabled Radio With gap */
[type="radio"].with-gap:disabled:checked + span:not(.lever):before {
  border: 2px solid rgba(0, 0, 0, 0.42); }

[type="radio"].with-gap:disabled:checked + span:not(.lever):after {
  border: none;
  background-color: rgba(0, 0, 0, 0.42); }

/* Disabled style */
[type="radio"]:disabled:not(:checked) + span:not(.lever):before,
[type="radio"]:disabled:checked + span:not(.lever):before {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.42); }

[type="radio"]:disabled + span:not(.lever) {
  color: rgba(0, 0, 0, 0.42); }

[type="radio"]:disabled:not(:checked) + span:not(.lever):before {
  border-color: rgba(0, 0, 0, 0.42); }

[type="radio"]:disabled:checked + span:not(.lever):after {
  background-color: rgba(0, 0, 0, 0.42);
  border-color: #949494; }

/* SWITCH */
.switch label input[type=checkbox]:checked + .lever:after {
  background-color: var(--primary-color); }

.table-condensed > tbody > tr > td {
  line-height: 1.8rem;
  vertical-align: middle; }

.table-condensed > tbody > tr > td:first-child strong,
.table-condensed > tbody > tr > td:first-child h1,
.table-condensed > tbody > tr > td:first-child h2,
.table-condensed > tbody > tr > td:first-child h3,
.table-condensed > tbody > tr > td:first-child h4,
.table-condensed > tbody > tr > td:first-child h5,
.table-condensed > tbody > tr > td:first-child h6 {
  font-weight: bold;
  text-transform: capitalize;
  color: var(--primary-color); }

#add-entry-table .btn-xs {
  padding: 4px 15px !important; }

#add-entry-table .btn-xs i {
  margin-right: 8px; }

#add-entry-table th:last-child {
  width: 245px !important; }

@media screen and (max-width: 800px) {
  .table-responsive {
    border: none !important; } }

.table-condensed thead tr > th, .table-condensed thead tr > td {
  padding-top: .5em !important;
  padding-bottom: .5em !important; }

table.dataTable.table-condensed .sorting:after,
table.dataTable.table-condensed .sorting_asc:after,
table.dataTable.table-condensed .sorting_desc:after {
  top: 8px !important;
  right: 4px !important; }

table.dataTable .prevent-sorting:after {
  display: none !important; }

/* Datatbles */
/* Header */
.dataTables_header {
  display: flex;
  align-items: flex-end;
  font-size: .9rem;
  margin-bottom: .3rem !important; }

.dataTables_header > .col-sm-6:last-child {
  text-align: right; }

.dataTables_header input[type=search] {
  margin-left: 0 !important;
  font-size: .9rem;
  height: 2.3rem;
  padding: .5em; }

.dataTables_header .input-group-addon {
  height: 2.3rem;
  line-height: 2.3rem;
  padding: 0 11px; }

.dataTables_filter .search-icon:before {
  font-size: 1rem;
  vertical-align: middle; }

.dataTables_length label {
  display: flex;
  align-items: center; }

.dataTables_length label select {
  margin: 0 .5rem;
  border: 1px solid #dddddd; }

/* footer */
.dataTables_footer {
  margin-top: .5rem !important;
  font-size: .9rem; }

.dataTables_footer.no-pagination .pagination {
  display: none; }

.dataTables_footer.no-pagination .dataTables_info {
  padding-top: 0;
  padding-bottom: 1rem; }

.pagination > li > a {
  position: relative;
  float: left;
  background-color: transparent;
  border: 1px solid #dddddd !important;
  color: var(--primary-color); }

.pagination > li:not(:first-child) > a {
  border-left: none !important; }

.pagination > li.active > a, .pagination > li.active:hover > a {
  background-color: var(--primary-color);
  color: var(--neutral-light-color); }

.pagination > li:not(.disabled):not(.active):hover > a,
.pagination > li:not(.disabled):not(.active) > a:focus {
  background-color: #f0f0f0 !important;
  color: var(--primary-color) !important; }

.blog-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0; }
  .blog-card a {
    color: inherit; }
    .blog-card a:hover {
      color: #D76E82; }
  .blog-card:hover .photo {
    transform: scale(1.3) rotate(3deg); }
  .blog-card .meta {
    background-color: #e2e2e2;
    height: 200px;
    position: relative;
    z-index: 0; }
  .blog-card .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform .2s; }
  .blog-card .details,
  .blog-card .details ul {
    margin: auto;
    padding: 0;
    list-style: none; }
  .blog-card .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left .2s;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px;
    width: 100%;
    font-size: .9rem; }
    .blog-card .details a {
      text-decoration: dotted underline; }
    .blog-card .details ul li {
      display: inline-block; }
    .blog-card .details .author:before {
      font-family: FontAwesome;
      margin-right: 10px;
      content: "\f007"; }
    .blog-card .details .date:before {
      font-family: FontAwesome;
      margin-right: 10px;
      content: "\f133"; }
    .blog-card .details .tags ul:before {
      font-family: FontAwesome;
      content: "\f02b";
      margin-right: 10px; }
    .blog-card .details .tags li {
      margin-right: 2px; }
      .blog-card .details .tags li:first-child {
        margin-left: -4px; }
  .blog-card .description {
    padding: 1rem;
    background: #fff;
    position: relative;
    z-index: 1; }
    .blog-card .description h1,
    .blog-card .description h2 {
      font-family: Poppins, sans-serif;
      text-align: left; }
    .blog-card .description h1 {
      line-height: 1;
      margin: 0;
      font-size: 1.7rem; }
    .blog-card .description h2 {
      font-size: 1rem;
      font-weight: 300;
      text-transform: uppercase;
      color: #5A696B;
      margin-top: 5px; }
    .blog-card .description .read-more {
      text-align: right; }
      .blog-card .description .read-more a {
        color: #D76E82;
        display: inline-block;
        position: relative; }
        .blog-card .description .read-more a:after {
          content: "\f061";
          font-family: FontAwesome;
          margin-left: -10px;
          opacity: 0;
          vertical-align: middle;
          transition: margin .3s, opacity .3s; }
        .blog-card .description .read-more a:hover:after {
          margin-left: 5px;
          opacity: 1; }
  .blog-card p {
    position: relative;
    margin: 1rem 0 0; }
    .blog-card p:first-of-type {
      margin-top: 1.25rem; }
      .blog-card p:first-of-type:before {
        content: "";
        position: absolute;
        height: 5px;
        background: #D76E82;
        width: 35px;
        top: -0.75rem;
        border-radius: 3px; }
  .blog-card:hover .details {
    left: 0%; }
  @media (min-width: 640px) {
    .blog-card {
      flex-direction: row; }
      .blog-card .meta {
        flex-basis: 40%;
        height: auto; }
      .blog-card .description {
        flex-basis: 60%; }
        .blog-card .description:before {
          transform: skewX(-3deg);
          content: "";
          background: #fff;
          width: 30px;
          position: absolute;
          left: -10px;
          top: 0;
          bottom: 0;
          z-index: -1; }
      .blog-card.alt {
        flex-direction: row-reverse; }
        .blog-card.alt .description:before {
          left: inherit;
          right: -10px;
          transform: skew(3deg); }
        .blog-card.alt .details {
          padding-left: 25px; } }

/* CALENDAR */
.fc-head .fc-row {
  background-color: var(--neutral-soft-color);
  border-radius: 15px;
  padding-top: 1px;
  line-height: 1.5;
  border: none !important; }

.fc-row.fc-week {
  border-color: transparent; }

.fc th {
  border-width: 0 !important; }

.fc .table-bordered, .table-bordered td, .table-bordered th {
  border: none !important; }

.fc tr td:not(:first-child) {
  border-left: 1px solid var(--neutral-soft-color) !important; }

.fc .fc-row:not(:last-child) {
  border-bottom: 1px solid var(--neutral-soft-color) !important; }

.fc-head-container {
  font-size: .75em;
  text-transform: capitalize; }

.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
  margin-top: 2px;
  font-size: .7em;
  margin-right: 3px;
  height: 1.3em; }

.fc .fc-axis {
  font-size: .8em;
  padding-right: 10px !important; }

.fc hr.fc-divider {
  border: none !important;
  height: 3px;
  background-color: var(--neutral-soft-color);
  margin: 0 5px;
  border-radius: 5px; }

.fc-today:not(.fc-day-top):not(.fc-day-header) {
  background-color: var(--primary-color) !important;
  opacity: .2;
  color: inherit;
  border-color: inherit; }

.fc-today .fc-day-number {
  color: var(--neutral-color); }

.fc-event-container a {
  font-size: .8em;
  padding: 2px 5px 1px 5px !important;
  border: 2px solid white;
  margin: 4px 4px 0 4px;
  border-radius: 2px; }

.fc-event-container a .fc-content {
  width: 100%;
  text-overflow: ellipsis; }

.fc-event-container a {
  background-color: var(--secondary-color-1); }

tr .fc-event-container:nth-child(1) a {
  background-color: var(--secondary-color-1); }

tr .fc-event-container:nth-child(2) a {
  background-color: var(--secondary-color-2); }

tr .fc-event-container:nth-child(3) a {
  background-color: var(--primary-color); }

tr .fc-event-container:nth-child(4) a {
  background-color: var(--secondary-color-1); }

tr .fc-event-container:nth-child(5) a {
  background-color: var(--secondary-color-2); }

tr .fc-event-container:nth-child(6) a {
  background-color: var(--primary-color); }

tr .fc-event-container:nth-child(7) a {
  background-color: var(--secondary-color-1); }

.fc a.fc-more {
  font-size: .8em;
  font-weight: bold;
  line-height: 2.2;
  cursor: pointer;
  background-color: transparent !important; }

.fc .fc-more-cell {
  text-align: center; }

.fc-popover {
  background-color: var(--neutral-light-color) !important; }

.fc .fc-popover .fc-header {
  padding: 5px 8px 4px 8px;
  font-size: .9em; }

.fc .fc-popover .fc-close {
  font-size: .9em;
  top: 5px; }

.fc .fc-more-popover .fc-event-container {
  padding-top: 0; }

.fc-toolbar .fc-center {
  text-transform: capitalize;
  padding-top: 3px;
  flex: 1; }

.fc-toolbar .fc-center h2 {
  width: 100%;
  text-align: center; }

.fc-prev-button, .fc-next-button {
  border: none !important;
  font-size: 2rem !important;
  background: none;
  height: auto !important;
  color: var(--primary-color); }

.fc-toolbar .fc-right {
  order: 3; }

.fc-prev-button {
  padding-left: 0 !important;
  padding-right: 5px !important; }

.fc-next-button {
  order: 4;
  padding-right: 0 !important; }

.fc-toolbar.fc-header-toolbar {
  display: flex;
  align-items: center; }

.fc .btn-group > .btn {
  position: relative;
  float: left;
  background-color: transparent;
  border: 2px solid var(--primary-color);
  color: var(--primary-color); }

.fc .btn-group > .btn:not(:first-child) {
  border-left: none; }

.fc .btn-group > .btn.active {
  background-color: var(--primary-color);
  color: var(--neutral-light-color); }

.fc .alert-default:before, .fc .alert-info:before {
  opacity: 0;
  display: none; }

.fc-week tr:first-child > td > .fc-day-grid-event {
  /*margin-top: 8px;*/ }

.fc-agenda-view .fc-day-grid .fc-row .fc-content-skeleton {
  padding-bottom: 8px !important; }

@media (max-width: 800px) {
  .fc-toolbar.fc-header-toolbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
  .fc-prev-button, .fc-next-button {
    padding: 0 !important; }
  .fc-toolbar .fc-left {
    order: 10; }
  .fc-toolbar .fc-right {
    order: 11;
    margin-top: .5rem;
    flex: 1 1 100%; }
  .fc-toolbar .fc-right > .btn-group {
    float: none; }
  .fc-today-button {
    display: none; }
  .fc-more-cell > div {
    height: 2rem;
    overflow: hidden; } }

.agenda-container .agenda-entry .date {
  color: var(--primary-color); }

.agenda-container .agenda-entry fig-caption:before {
  background: var(--primary-color);
  opacity: .8; }

.agenda-container .agenda-entry {
  border-radius: 5px 5px 4px 4px;
  box-shadow: none; }

.results-info {
  margin-top: 0;
  margin-bottom: 12px;
  text-align: left;
  opacity: 1; }

.filter-box .checkbox {
  margin-left: 1em; }

.results-container .filter-box:nth-of-type(2),
.results-container .filter-box:nth-of-type(5) {
  --neutral-color: var(--secondary-color-1); }

.results-container .filter-box:nth-of-type(3),
.results-container .filter-box:nth-of-type(6) {
  --neutral-color: var(--secondary-color-2); }

.filtertext {
  margin-bottom: 20px; }

.bazar-list .panel.panel-default {
  border: none;
  background-color: transparent;
  transition: border .3s, margin .3s;
  padding: 0 .9rem;
  border: .3rem solid transparent;
  box-shadow: none; }

.bazar-list .panel .panel-heading
.bazar-list .panel .panel-collapse,
.bazar-list .panel .panel-collapse .panel-body {
  border: none; }

.bazar-list .panel .panel-collapse {
  cursor: default; }

.bazar-list .panel .panel-collapse .panel-body {
  padding: 0; }

.bazar-list .panel-default > .panel-heading {
  color: var(--neutral-color);
  background-color: transparent;
  border-color: var(--neutral-soft-color);
  transition: border .3s, margin .3s; }

.bazar-list .panel:not(.collapsed) {
  border-color: var(--primary-color);
  border-radius: .5em;
  margin-top: .6rem !important; }

.bazar-list .panel:not(.collapsed) .panel-heading {
  border: none !important; }

.bazar-list .panel:not(.collapsed) + .panel .panel-heading {
  border-top: none !important; }

.bazar-list .panel:not(.collapsed) + .panel:not(.collapsed) {
  margin-top: .6rem; }

.bazar-list .panel-group .panel + .panel {
  margin-top: 0; }

.bazar-list .panel-heading {
  border: none;
  padding: 1.2rem 0 0 0; }

.bazar-list .panel:not(:first-child) .panel-heading {
  border-top: 1px solid var(--neutral-soft-color);
  border-radius: 0; }

.bazar-list .panel:last-child .panel-heading {
  padding-bottom: .5rem;
  border-bottom: 1px solid var(--neutral-soft-color); }

.bazar-list .panel-title {
  font-size: 1rem;
  transition: all .3s; }

.bazar-list .BAZ_label {
  color: var(--neutral-color);
  font-weight: bold !important;
  margin: 0;
  font-size: 1rem; }

.bazar-list .panel:not(.collapsed) .panel-title {
  color: var(--primary-color);
  font-size: 1.3rem;
  margin-bottom: 5px;
  margin-bottom: .8rem; }

.bazar-list .panel-body .BAZ_fiche_titre {
  display: none; }

.bazar-list .panel .BAZ_fiche_info {
  margin-left: -.9rem;
  margin-right: -.9rem;
  padding: .9rem;
  border-top: 1px dashed var(--neutral-soft-color); }

.bazar-list .panel-heading[data-toggle=collapse] {
  --chevron-color: var(--neutral-soft-color); }

.bazar-list .panel-heading[data-toggle=collapse]:hover {
  --chevron-color: var(--primary-color); }

.bazar-list .panel-heading[data-toggle=collapse]:after {
  transition: border-color .2s;
  top: 2em;
  right: .5em; }

.bazar-list .panel-heading.collapsed[data-toggle=collapse]:after {
  top: 1.4em; }

.bazar-list .panel .panel-heading:hover .icon-chevron,
.bazar-list .panel .panel-heading:hover .panel-title {
  color: var(--primary-color); }

.accordion-template-container {
  margin: -.6rem -.6rem -.6rem 0; }

@media (max-width: 800px) {
  .accordion-template-container {
    margin: -1.1rem;
    margin-bottom: .5rem; }
  .bazar-list .panel-heading {
    padding-top: .9rem; }
  .bazar-list .bazar-entry.collapsed {
    border-top-width: 0 !important; }
  .bazar-list .panel-heading[data-toggle=collapse]:after {
    right: .2rem; }
  .bazar-list .panel-heading.collapsed[data-toggle=collapse]:after {
    top: 1.2rem; }
  .BAZ_fiche_info .btn-mini > span {
    display: none; } }

.bazar-search .input-group-addon {
  background: none;
  color: var(--primary-color);
  font-size: 4rem;
  position: absolute;
  z-index: 5;
  top: -.6rem;
  left: 0;
  padding: 0; }

.bazar-search input[type=text] {
  margin-left: 2.7rem;
  border-bottom-left-radius: .9rem !important;
  background-color: #e8e8e8;
  box-shadow: none;
  border: none !important;
  height: 2.4rem;
  padding-left: 1.5rem; }

.bazar-search .search-filter select {
  height: 2.4rem;
  padding-top: .4em;
  background-color: var(--neutral-color);
  border: none;
  color: var(--neutral-light-color);
  border-radius: 0 !important; }

.bazar-search .search-button-container .btn {
  background-color: var(--primary-color) !important;
  color: var(--neutral-light-color);
  height: 2.4rem;
  border-top-right-radius: .5em !important;
  border-bottom-right-radius: .5em !important; }

.bazar-search .search-button-container .btn {
  background: none; }

.search-input::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: var(--neutral-color); }

.search-input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: var(--neutral-color);
  opacity: 1; }

.search-input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: var(--neutral-color);
  opacity: 1; }

.search-input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--neutral-color); }

.search-input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--neutral-color); }

.search-input::placeholder {
  /* Most modern browsers support this now. */
  color: var(--neutral-color); }

.BAZ_menu + #bazar-search-1 {
  margin-top: 30px; }

#search-form {
  margin-bottom: 30px; }

.annuaire-title {
  font-size: 2.5rem;
  text-align: center; }

.annuaire-title i {
  font-size: 3.5rem;
  vertical-align: middle;
  margin-right: 10px; }

.bazar-list #lettres_init {
  margin-top: -.5rem; }

.bazar-list #lettres_init a {
  color: var(--neutral-color);
  font-size: 1.5rem;
  margin: 0;
  padding: 0 8px;
  transition: all .1s; }

.bazar-list #lettres_init a:hover,
.bazar-list #lettres_init a:focus {
  background-color: var(--primary-color);
  color: var(--neutral-light-color);
  border-radius: 6px;
  text-decoration: none; }

.bazar-list .wrapper_nombre_membres {
  background-color: var(--primary-color);
  height: 12px;
  border-radius: 12px;
  margin-top: .8rem; }

.wrapper_nombre_membres .nombre_membres {
  display: none; }

.annuaire-fiches-container .bazar-entry {
  color: var(--neutral-color);
  transition: color .2s; }

.annuaire-fiches-container .bazar-entry:hover {
  text-decoration: none;
  color: var(--primary-color); }

.annuaire-fiches-container .letter-title {
  margin-bottom: .5rem; }

.annuaire-fiches-container .letter-title span {
  background-color: var(--secondary-color-1);
  color: var(--neutral-light-color);
  border-radius: 6px;
  padding: 2px 8px;
  font-size: 1.3rem;
  font-weight: 500; }

/*
 * CSS variables
 */
:root {
  --primary-color: #D76E82;
  /* initial yellow #F8C400; */
  --secondary-color-1: #B9CD00;
  /* #d8604c;*/
  --secondary-color-2:#E68C1E;
  --neutral-color:#5A696B;
  /*#4E5056;*/
  --neutral-soft-color:#F2F2F2;
  --neutral-light-color:#fff;
  --success-color: #3cab3b;
  --danger-color: #d8604c;
  --warning-color: #D78958;
  --main-text-color:var(--neutral-color);
  --main-text-fontsize: 17px;
  --main-text-fontfamily:'Ubuntu', sans-serif;
  --main-bg-color:var(--neutral-light-color);
  --main-container-bg-color:var(--neutral-light-color);
  /* Links */
  --link-color: var(--primary-color);
  --link-hover-color: var(--primary-color);
  /* contained page */
  --navbar-bg-color: var(--primary-color);
  --navbar-text-color: var(--neutral-color);
  --navbar-link-color: var(--neutral-light-color);
  --navbar-link-bg-color: transparent;
  --navbar-link-hover-color: var(--neutral-color);
  --navbar-link-bg-hover-color: transparent;
  --navbar-border: none;
  --navbar-border-radius: 0;
  --navbar-shadow: none;
  --header-bg-color: var(--neutral-light-color);
  --header-text-color: var(--neutral-color);
  --header-title-color: var(--primary-color);
  --footer-bg-color: var(--neutral-color);
  --footer-text-color: var(--neutral-light-color);
  --footer-title-color:var(-neutral-light-color);
  --footer-border-top:  3px solid var(--neutral-soft-color);
  --btn-border:none;
  --btn-border-radius:.5em;
  --checkbox-color: var(--primary-color)
; }

@media (max-width: 1200px) {
  :root {
    --main-text-fontsize: 16px; } }

@media (max-width: 800px) {
  :root {
    --main-text-fontsize: 13px; } }

/* fix for retro compatibility with cercopitheque */
.accordion-group .panel-heading.collapsed .panel-title::after {
  content: ""; }

.navbar-brand.logo {
  background: url("../images/logo.png") no-repeat;
  background-size: 223px; }

.navbar-brand.logo > .include {
  display: none; }

.logo-agora {
  margin-bottom: 10px; }

/*# sourceMappingURL=colibris-doryphore.css.map */